#node-border
{
	min-width : 250px;
		color : #000;
}

DialogueNode -> #node-border
{
	background-color : #c7ea46;
}

ConditionNode -> #node-border
{
	background-color : #ffd800;
}

.unity-foldout__input {
	padding : 8px;
}

.line-container {
	flex-direction : row;
}

Toggle -> VisualElement -> .unity-text-element {
	-unity-font-style: bold;
}

.line-container -> .unity-text-element {
	-unity-font-style: bold;
	min-width : 50px;
}

.line-container -> TextField {
	flex-grow : 1;
}